.container {
  max-width: 960px;
  perspective: 1000px;
}

.icon-link > .bi {
  width: .75em;
  height: .75em;
  transition: transform 0.3s; 
}

.icon-link > .bi:hover {
  transform: scale(1.2) rotateY(10deg); 
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out, text-shadow .15s ease-in-out; 
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7); 
}

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 320px; /* Немного увеличим ширину */
  height: 580px; /* И высоту */
  background-color: #4e4e4e; /* Темно-серый цвет */
  border-radius: 30px; /* Закругленные углы */
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4), inset 0 0 10px rgba(255, 255, 255, 0.2); /* Внешняя и внутренняя тень */
  transform: rotateY(15deg) rotate(15deg); /* Делаем 3D-вращение по оси Y */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавный переход при наведении */
}

.product-device:hover {
  transform: rotateY(0deg) rotate(15deg) scale(1.05); /* Увеличение и выравнивание устройства при наведении */
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6); /* Увеличенная тень при наведении */
}

.product-device::before {
  position: absolute;
  top: 5%; /* Уменьшаем отступ сверху */
  right: 5px;
  bottom: 5%;
  left: 5px;
  content: "";
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3)); /* Градиент для стекла */
  border-radius: 20px; /* Закругленные углы */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4); /* Внутренняя тень на стекле */
  transition: background 0.3s; /* Плавный переход для фона */
}

.product-device::before:hover {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5)); /* Увеличиваем насыщенность градиента при наведении */
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
}

.flex-equal > * {
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

img {
  width: 100%; 
  height: 100%;
  border-radius: 10px; 
  transition: transform 0.3s; 
}

img:hover {
  transform: scale(1.05); 
}
